<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veysel Blog</title>
    <link rel="stylesheet" href="/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/templatemo-xtra-blog.css" rel="stylesheet">
    <!--
        
    TemplateMo 553 Xtra Blog
    
    https://templatemo.com/tm-553-xtra-blog
    
    -->
</head>
<body>
<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            @* <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div> *@
            <h1 class="text-center">Blog Sayfası</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">
            <ul>
                <li class="tm-nav-item active"><a href="/" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    Ana Sayfa
                    </a></li>
                <li class="tm-nav-item active"><a href="/Admin" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    Admin Paneli
                    </a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container-fluid">
    <main class="tm-main">
        @RenderBody()
    </main>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/templatemo-script.js"></script>
</body>
</html>
