@model List<Blog>
<div class="row tm-row">
    @foreach (var item in Model)
    {
        <article class="col-12 col-md-6 tm-post">
            <hr class="tm-hr-primary">
            <a href="/home/post/@item.Id" class="effect-lily tm-post-link tm-pt-60">
                <div class="tm-post-link-inner">
                    <img src="/img/img-01.jpg" alt="Image" class="img-fluid">
                </div>
                <h2 class="tm-pt-30 tm-color-primary tm-post-title">@item.Title</h2>
            </a>
            <p class="tm-pt-30">
                @item.Detail
            </p>
            <div class="d-flex justify-content-between tm-pt-45">
                <span class="tm-color-primary">@item.UpdateDate.ToString("dd.MM.yyyy HH:mm")</span>
            </div>
            <hr>
        </article>
    }
</div>